body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #93eccd;
}

.h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #391dc4;
    text-align: center;
}


.stopwatch {
    background: rgb(212, 86, 86);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

#time {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 1em;
}

.laps {
    text-align: left;
}

.laps h2 {
    margin-bottom: 10px;
}

.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps ul li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #93eccd;
    color: #b32929;
    text-align: center;
    padding: 10px 0;
}